 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');
 /* font-family: 'Poppins', sans-serif; */
* {
   margin:0;
   padding:0;
   box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a,.btn{
    transition: all 0.5s ease;
}
nav,.navlinks{
    display: flex;
}
.navlinks{
    list-style: none;
    gap: 2.5vw;
    font-size: 3vh; 
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: black;
    position: fixed;
    width: 100vw;
    z-index: inherit;
}
#navbar .navlinks a{
    text-decoration: none;
    color: white;
    position: relative;
}
#navbar .navlinks a::before{
    position:absolute;
    content: '';
    width: 0;
    transition: 0.3s;
    top:35px;
    left:0;
    background: linear-gradient(120deg,#f1eeea,#1a1818);
    height: 3px;
}

#navbar .navlinks a:hover::before{
    width: 100%;
}

.logo a{
    font-size: 2rem;
     cursor: pointer;
     color: white;
     font-weight: 600;
     text-decoration: none;
}
.image img{
    margin-left: 300px;
    height: 55vh;
    border-radius: 25vh;
    /* border: solid 2px black; */
    /* box-shadow: 0 0 5px rgb(244, 244, 14); */
    margin-right: 50px;
}
/*Home page styling */
.profile{
    display: flex;
    align-items: center;
    height: 80vh;
    background: url(background1.jpg) no-repeat center center/ cover;
}
.homediv{
    padding-top: 12vh;
}
.left{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
}
.text p{
    font-size: 2.4rem;
}
.name{
    font-size: 3rem;
}
.butt{
    margin-top: 10px;
}
.butt button{
    padding: 15px 20px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border-radius: 25px;
    transition: 0.5s;
}
.butt button:hover{
    background-color: transparent;
    color: black;
}
.butt button a{
    text-decoration: none;
    color: white;
}
.butt button a:hover{
    color: black;
}
.socialbuts{
    margin-top: 15px;
    font-size: 1.7rem;
}
.socialbuts a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
/* About page styling */
.about{
    height: 80vh;
    background:url( sep09.jpg) no-repeat center center/ cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headertext{
    color: white;
    margin-top: 30px;
    font-size: 1.3rem;
}
.title{
    font-size: 3rem;
    color: white;
}
.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10vh;
}
.pic img{
    height: 50vh;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
}
.description{
    font-size: 15px;
    color: white;
    margin-right: 40px;
}
/* Experience Page */
.Experience{
    height: 80vh;
    background: url(background4.jpg) no-repeat center center/ cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headertext2{
    margin-top: 10vh;
    font-size: 1.3rem;
}
.textexp{
    font-size: 3rem;
}
.explist div{
    height: 20vh;
    width: 25vw;
    text-align: center;
    border-radius: 30px;
    border: solid 3px black;
    margin-right: 10px;
    text-align: center;
}
.explist h3{
    margin-top:50px;
}
.explist{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contactme{
    height: 40vh;
    background: url( bg5.jpg) no-repeat center center/ cover;
    display: flex;
    flex-direction: column;
    /* justify-content:center ; */
    align-items: center;

}

.headertext3{
    margin-top: 30px;
    font-size: 1.3rem;
    color: white;
}
.contacttext{
    font-size: 3rem;
    color: white;
}
.copyright{
    color:white;
    font-size: 20px;
    margin-top: 35px;
}
.footericons{
    display: flex;
    font-size: 1.4rem;
    gap:2.5rem;
    color: white;

}
.footericons a{
    text-decoration: none;
    color: white;
}
i,button{
    cursor: pointer;
}